- def arrow; image_tag 'arrow.jpg', size: '80x41'; end

%header#welcome
  .row
    .large-11.large-centered.columns.text-center
      %h1 Teach, Learn & <br> Share With the <br> World

  .row
    .large-10.large-centered.columns
      .row
        .large-4.columns.text-center.rotate-left= arrow
        .large-4.columns.text-center.rotate-center= arrow
        .large-4.columns.text-center.rotate-right= arrow

  .row#welcome_image
    .large-12.large-centered.columns.text-center
      = image_tag 'welcome_image.png', size: '800x140'

  .row
    .large-10.large-centered.columns
      .row
        .large-4.columns.text-center
          Create and manage lessons on an online platform
        .large-4.columns.text-center
          Intuitive way of learning by doing on an actual terminal - no setup needed!
        .large-4.columns.text-center
          Browse lessons from all over the world

  .row#welcome_button
    .large-12.large-centered.columns.text-center
      = link_to 'Sign in with GitHub', user_omniauth_authorize_path(:github), class: 'button round'
