%h2= t 'headings.settings.authorizations.received_requests'
%h6.subheader= t 'subheadings.settings.authorizations.received_requests'
%hr

- if received_requests.any?
  %table#received_requests
    %thead
      %tr
        %th Requester
        %th Status
        %th Updated
        %th Approve
    %tbody
      - received_requests.each do |req|
        %tr
          %td= req.requester
          %td
            .request-status{class: status_class_for(req) }
              %span.has-tip.tip-left{title: req.status.capitalize, 'data-tooltip' => ''}
          %td= time_ago_or_format req.updated_at
          %td
            %ul.button-group.radius
              %li
                - classes = %w[small success button]
                - classes << 'disabled' if req.granted?
                = link_to grant_access_request_path(req), remote: true,
                  class: classes, method: :post, id: "grant_#{req.id}" do
                  %i.icon-ok
              %li
                - classes = %w[small alert button]
                - classes << 'disabled' if req.denied?
                = link_to deny_access_request_path(req), remote: true,
                  class: classes, method: :post, id: "deny_#{req.id}" do
                  %i.icon-remove
