%h1= @lesson.title
%hr
.row
  .large-9.push-3.columns
    = render partial: "lessons/settings/#{File.basename @path}"
  .large-3.pull-9.columns
    .section-container.vertical-nav
      - path = user_lesson_settings_path(@user, @lesson)
      %section.section{class: active_class(path)}
        %p.title
          = link_to 'Traffic', path
      - path = user_lesson_settings_path(@user, @lesson, 'data')
      %section.section{class: active_class(path)}
        %p.title
          = link_to 'Data', path
      - path = user_lesson_settings_path(@user, @lesson, 'errors')
      %section.section{class: active_class(path)}
        %p.title
          = link_to 'Errors', path
