%section{role: 'title'}
  %h1= @lesson.title
  %h4.subheader= @lesson.description
  %h5
    %small
      Updated by #{@lesson.user.name} #{time_ago_in_words @lesson.updated_at} ago.

%hr
%section{role: 'lesson'}
  = @contents.html_safe

#answers{data: { preload: @answers.sort_by { |a| a.position }.to_json } }

- content_for :javascript do
  :javascript
    $(function() {
        genie.init_lesson({
          answers: $('#answers').data('preload'),
          forms:   $('form.problem')
        });
    });
