%section.row{role: 'title'}
  .large-12.columns
    %h1= @lesson.title
    %h4.subheader= @lesson.description
    %h5
      %small
        Updated by #{@lesson.user.name} #{time_ago_or_format @lesson.updated_at}.
      - if @lesson.user_id == current_user.id
        %small= link_to '[  Settings  ]',  user_lesson_settings_path(current_user, @lesson)

%hr
%section.row{role: 'lesson'}
  .large-12.columns
    = @contents.html_safe

#answers{data: { preload: @answers.sort_by { |a| a.position }.to_json } }

- content_for :javascript do
  :javascript
    $(function() {
        genie.init_lesson({
          answers:  $('#answers').data('preload'),
          problems: $('form.problem'),
          navigation: {
            bar:    '.lesson-nav',
            anchor: 'section[role="lesson"]'
          },
          viewer: {
            window: '.lesson-problems',
            paginator: '.jqpagination'
          }
        });
    });
